h1 {
    width: 100%;
    background-image: url("images/snp.jpg");
    border-radius: 6rem;
    color: #417297;
    text-align: center;
    height: 3rem;
    font-size: 2.5rem;
}

body {
    background-image: url("/images/snapchat.png");
}

#date-box {
    width: 50%;
    height: 10vh;
    display: block;
    margin: 4rem;
    padding: 4rem;
    background: #8503ff2a;
    border-color: solid black;
    text-align: center;
} 

#txt-output {
    border: 1px solid rgb(0, 0, 0);
    height: 10vh;
    width: 65%;
    margin: 4rem;
    padding: 1rem;
    color: white;
    background-color: #6191b548;
}

button {
    position: relative; */
    padding: 15px 30px;
    width: 15%;
    color: rgb(119, 0, 255);
    letter-spacing: 4px;
    font-size: large;
    overflow: hidden;
    transition: 0.5s;
    background-image: url("images/bna.jpg");
}
